<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    

    <style>
     .center-block{
         float: left;
         
     }
     input{
         margin-top: 3px;
     }
    </style>
</head>
<body ng-app="aplication">
    
    <div class="container" ng-controller="controlSkiJump">
        <div class="row">
            <div class="col-sm-8 center-block">
                    <h1 class="text-center">Klasyfiakcja {{skoczkowie.length}} skoczkow narciarskich</h1>
                        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Add Jumper
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
          
            <div class="modal-body">
                <label for="">Surnname and Name</label>
              <input type="text" class="form-control" ng-model="jumper">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" ng-click="addJumper()">Add Jumper </button>
            </div>
          </div>
        </div>
      </div>
                    <div class="input-group">
                        <span class="input-group-addon"> Szukaj:</span>
                        <input type="text" class="form-control" placeholder="Czego Szukasz ?" ng-model="search">
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th ng-repeat="name in [
                                    'imie', 'narodowosc', 'miejsce', 'Punkty' , 'delete'
                                    ]">
                                    {{name}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat='skoczek in skoczkowie | filter : search'>
                                    <td >{{skoczek.Name}}
                                        
                                        <button ng-click="edit =! edit" class="btn btn-default btn-xs pull-right">edycja</button>
                                        <input type="text" class="form-control" ng-if="edit" ng-model="skoczek.Name">
                                    </td>
                                    <td >{{skoczek.Bib}}</td>
                                    <td >{{skoczek.Rank}}</td>
                                    <td >{{skoczek.TotPoints}}</td>
                                    <td><button ng-click="deleteJumper( $index )" class="btn btn-danger btn-xs">&times;</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
            
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="aplication.js"> 
        
        
    </script>
</body>
</html>